# .coveragerc to control coverage.py
[run]
branch = True
omit =
  freemt_utils/arun.py
  freemt_utils/save_tempfile.py
  freemt_utils/httpx_get.py
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    except Exception:
    except Exception as exc:
    def main():
[paths]
include =
  freemt_utils
